<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Nerd Blog</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
  <header>
    <h1>TECH NERD BLOG</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    {{!-- <a href="/dashboard">Blog</a> --}}
    {{!-- <a href="/dashboard">Dashboard</a> --}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to signup -->
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    <a href="/">Blog</a>
    {{/if}}
  </nav>
  <main>
    <div class="posts">
      {{{body}}}
    </div>
  </main>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{else}}
  <script src="../../public/js/login.js"></script>
  {{/if}}
</body>

</html>